@model mrsProject.Models.Book

@{
    ViewData["Title"] = "Manual Reorder";
}

<h2>Manual reorder</h2>

@using (Html.BeginForm())
{

<h4>Book</h4>
<hr />
    @Html.HiddenFor(model => model.BookID)
    <div class="row">
        <div class="col-md-4">
        <form asp-action="ManualReorder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

}