
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a asp-action="Index" asp-controller="Search" class="btn btn-success">Manual Reorder</a>

<a asp-action="AutomaticReorder" asp-controller="Account" class="btn btn-success">Automatic</a>



