

<h2>Index</h2>
@{
    ViewData["Title"] = "View";
}

<a asp-action="Index" asp-controller="Search" class="btn btn-success">Search</a>

<a asp-action="Login" asp-controller="Account" class="btn btn-success">Login</a>

<a asp-action="Index" asp-controller="Books" class="btn btn-success">Manage Books</a>
<a asp-action="ReorderIndex" asp-controller="Books" class="btn btn-success">Reorder</a>




