@using mrsProject.Controllers
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<form asp-action="Index" asp-controller="Home" method="get">
    <div class="form-group">
        <label>Genre:</label>
        <input name="SearchGenre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Title:</label>
        <input name="SearchTitle" class="form-control" />
    </div>
    <div class="form-group">
        <label>Author:</label>
        <input name="SearchAuthor" class="form-control" />
    </div>
    
    <p class="form-group">
        <button type="submit" asp-action="DisplaySearchResults" class="btn btn-secondary">Search</button>
    </p>
</form>